.message {
  position: relative;
  padding-top: 2px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left .message {
  animation: slidein 0.8s;
  animation-iteration-count: 1;
}

.right .message {
  animation: slideinReverse 0.8s;
  animation-iteration-count: 1;
}

@keyframes slidein {
  0% {
    /*transform: translateX(-50%);*/
    opacity: 0;
  }

  100% {
    /*transform: translateX(0%);*/
    opacity: 1;
  }
}

@keyframes slideinReverse {
  0% {
    /*transform: translateX(50%);*/
    opacity: 0;
  }

  100% {
    /*transform: translateX(0%);*/
    opacity: 1;
  }
}

.message .text {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  background: #cdcdcd;
  white-space: pre-line;
  text-align: right;
  max-width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow: hidden;
}

.user-messages-group.left .message .text {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: left;
}

.user-messages-group.left .message:first-child .text {
  border-top-left-radius: 15px;
}

.user-messages-group.left .message:last-child .text {
  border-bottom-left-radius: 15px;
}

.user-messages-group.right .message .text {
  background: #09c;
  color: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.user-messages-group.right .message .text.only-emoji,
.text.only-emoji {
  background: transparent;
  font-size: 50px;
}

.user-messages-group.right .message:first-child .text {
  border-top-right-radius: 15px;
}

.user-messages-group.right .message:last-child .text {
  border-bottom-right-radius: 15px;
}

.message .options {
  width: 90px;
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: relative;
}

.message:hover .options {
  align-items: center;
  opacity: 1;
  visibility: visible;
}

.message .options > .icon {
  color: #cdcdcd;
  cursor: pointer;
}

.message .options > .icon:hover {
  color: #565656;
}

.left .message .options {
  justify-content: flex-start;
  margin-left: 10px;
}

.right .message .options {
  justify-content: flex-end;
  margin-right: 10px;
}

.message .content-message {
  max-width: calc(100% - 90px);
}

.right .message {
  flex-direction: row-reverse;
}

.images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
  max-width: 450px;
}

.images > .image-handler {
  padding: 2px;
  width: calc(100% / 3);
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
}

.images > .image-handler:hover {
  filter: brightness(90%);
}

.images.i1 > .image-handler {
  width: 150px;
}

.images.i2 > .image-handler,
.images.i4 > .image-handler {
  width: 50%;
}

.images > .image-handler img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
