.messages {
  padding: 10px;
  height: calc(100vh - 60px);
  overflow: auto;
}

.messages .message .text {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  background: #cdcdcd;
  white-space: pre-line;
  text-align: right;
  max-width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow: hidden;
}

.messages .user-messages-group.left .message .text {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: left;
}
.messages .user-messages-group.left .message:first-child .text {
  border-top-left-radius: 15px;
}
.messages .user-messages-group.left .message:last-child .text {
  border-bottom-left-radius: 15px;
}
.messages .user-messages-group.right .message .text {
  background:#09c;
  color:#fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.messages .user-messages-group.right .message:first-child .text {
  border-top-right-radius: 15px;
}
.messages .user-messages-group.right .message:last-child .text {
  border-bottom-right-radius: 15px;
}
