.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.chats-list {
  width: 150px;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.chat-info {
  width: 100px;
}
