.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.chats-list {
  width: 150px;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.chat-info {
  width: 100px;
}

.bottom-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.bottom-bar button {
  border: none;
  background: transparent;
}

.bottom-bar button .icon {
  cursor: pointer;
  color: #5a5a5a;
}

.bottom-bar button .icon:hover {
  color: #09d;
}

.input-field-container {
  width: 100%;
  height: 40px;
  display: flex;
  background: #ebebeb;
  padding: 3px;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

textarea {
  resize: none;
  font-size: 18px;
  outline: none;
  border: none;
  background: transparent;
  padding: 3px;
  height: 100%;
  width: 100%;
}
