.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
}

.emoji .emojis-container {
  background: #fff;
  width: 550px;
  height: 450px;
  position: absolute;
  top: -450px;
  overflow: auto;
  padding: 5px;
  margin-right: 550px;
  box-shadow: 0 0 2px 1px #aaa;
  border-radius: 10px;
}

.emoji .emojis-container .list-emoji {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5px 0;
}

.emoji .emojis-container .list-emoji .emoji-item {
  font-size: 25px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  user-select: none;
}

.emoji .emojis-container .list-emoji .emoji-item:hover {
  background: #d9d9d9;
}
